TS_SegmentingClusteringNeighborhoods_Toronto - First set of code starts here

importing libraries

In [73]:
import pandas as pd # library for data analsysis

Importing data from wikipedia

In [74]:
#import data from wikipedia link 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wikipath = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs= pd.read_html(wikipath, index_col=None,  attrs={"class":"wikitable"})
df = dfs[0]

preparation of the dataframe

In [75]:
#The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
df.rename(columns = {0:'PostalCode',1:'Borough',2:'Neighbourhood'}, inplace=True) #assuming the sequence of columns in wikipedia doesn't change
df.drop(0)

#deleting unnecessary row
df=df[df.Neighbourhood != 'Neighbourhood']

In [76]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df=df[df.Borough != 'Not assigned']

In [77]:
#More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhood
df=df.groupby(['PostalCode', 'Borough'], as_index=False)['Neighbourhood'].agg(', '.join)

In [78]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.
df.Neighbourhood[df.Neighbourhood == 'Not assigned'] = df.Borough

In [79]:
#In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
df.shape

(103, 3)

Adding geographical coordinates - second set of code starts here

In [80]:
#downloading csv
!wget -q -O 'geographical coordinates.csv' http://cocl.us/Geospatial_data
print('Data downloaded!')

Data downloaded!

In [81]:
#reading the downloaded csv
coordinates_df = pd.read_csv('geographical coordinates.csv')

#changing the 'Postal Code' column header to 'PostalCode' so as to match the one from df
coordinates_df.columns = df.columns.str.strip()
coordinates_df.columns.tolist()

coordinates_df.head()

  PostalCode    Borough  Neighbourhood
0        M1B  43.806686     -79.194353
1        M1C  43.784535     -79.160497
2        M1E  43.763573     -79.188711
3        M1G  43.770992     -79.216917
4        M1H  43.773136     -79.239476

In [82]:
#merging two dataframes together
df_toronto = pd.merge(df, coordinates_df, on='PostalCode')

In [83]:
df_toronto.head()

,PostalCode,Borough_x,Neighbourhood_x,Borough_y,Neighbourhood_y
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [84]:
#renaming column headers
df_toronto.rename(columns = {'Borough_x':'Borough','Neighbourhood_x':'Neighbourhood','Borough_y':'Latitude','Neighbourhood_y':'Longitude'}, inplace=True)

In [85]:
df_toronto.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476